.section{
    max-width: 48rem;
    margin: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    background-color: rgb(220, 223, 50);
    border: 2px solid black;
}

.section h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
}

.section button{
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;

    align-self: flex-end;
}

.section button:hover{
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;


   transition: 0.3s;
}


/* SECCION DE LOS ITEMS */

.root {
    width: 100%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);

    gap: 1rem;
}

.root .box-img{
    width: 100%;
    border-radius: 3px;
}

.box-img img{
    width: 100%;
}